<div *ngIf="currentChatroom">
    <div class="container-fluid">
        <h1>Welcome to the awesome {{currentChatroom.name}} chatroom</h1>
        <div class="messageBoard" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="message" *ngFor="let message of messages">
                <!-- Need to format the date -->
                <p>{{message.date.month}}/{{message.date.dayOfMonth}}, {{message.date.hour}}:{{message.date.minute}}</p>
                <div *ngIf="message.message; else noMessage">
                    <p>{{message.message}}</p>
                </div>
                <ng-template #noMessage>
                    <img src="{{message.imageURL}}">
                </ng-template>

                <span class="chatroomActions" (click)="reportPost(message.id)">Report</span>
                <span *ngIf="currentUser.admin" (click)="deletePost(message.id)" class="chatroomActions">Delete</span>
            </div>
        </div>

        <form #addMessage="ngForm" (ngSubmit)="onSubmit(addMessage)">
            <div class="input-group">
                <input type="text" class="form-control" ngModel name="messageBody">
                <span class="input-group-btn">
                    <button class="btn btn-secondary">Post Message</button>
                </span>
            </div>
        </form>

        <form #giphyImg="ngForm" (ngSubmit)="onClick(giphyImg)">
            <div class="input-group">
                <input type="text" class="form-control" ngModel name="giphyBody">
                <span class="input-group-btn">
                    <button class="btn btn-secondary">Post Giphy</button>
                </span>
            </div>
        </form>


    </div>
</div>
