<div *ngIf="loggedUser">
    <h1>{{loggedUser.username}}'s Profile Page</h1>
</div>

<!-- want to go to a method in a message service -->
<form method="post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="username">Username</label>
      <input type="text" class="form-control" placeholder="{{loggedUser.username}}" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="{{loggedUser.password}}">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" placeholder="{{loggedUser.emailAddress}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="isAdmin">Title</label>
      <input type="text" class="form-control" placeholder="Admin" *ngIf="loggedUser.admin" disabled>
      <input type="text" class="form-control" placeholder="Slum Denizen" *ngIf="!loggedUser.admin" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="isActive">Active</label>
      <input type="text" class="form-control" placeholder="Active" *ngIf="loggedUser.active" disabled>
      <input type="text" class="form-control" placeholder="Banned" *ngIf="!loggedUser.active" disabled>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update Information</button>
</form>
