<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url"></property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<!-- this can be noisy in the console -->
		<property name="hibernate.show_sql">true</property>
		<!-- choose whether to create db or update existing db -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- map domain object classes -->
		<mapping class="com.revature.beans.Message"/>
		<mapping class="com.revature.beans.Chatroom"/>
		<mapping class="com.revature.beans.User"/>
		<mapping class="com.revature.beans.Report"/>
	</session-factory>
</hibernate-configuration>